# Secrets and sensitive data
playbooks/vscode.rpm
hosts.old
ignorefile
.env
*.crt
*.p12
secrets.yml
vault.yml
*.secret
installationdir
*.pem
*.key


#ansible temporary files
*.retry
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db
*.tar.gz

# Personal files
*.swp
*.swo
*~

# SSH keys
.ssh/
id_rsa
id_rsa.pub

# python cache
__pycache__/
*.pyc

# Environment files
.env
venv/

# GitHub Actions self-hosted runner
actions-runner/

# Kubernetes local configuration
.kube/

# Project environment (machine-specific)
# Uncomment if you don't want to share it
.env.project
